#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flash-card {
  width: 340px;
  height: 170px;
  display: grid;
  align-items: center;
  border: solid 1px rgb(149, 149, 151);
  border-radius: 16px;
  margin-bottom: 10px;
  padding-inline: 10px;
  overflow: scroll;
}

.flash-card > span {
  cursor: pointer;
  display: inline-block;
  padding: 20px;
}

span {
  font-size: .9rem;
}


